:root{
    --primary-color: #2C702E;
    --secondary-color: #8BC34A;
    --accent: #DCE775;
    --auxiliar: #FFF59D;
    --letter: #fff;
    --border-radious: 0.75rem 
}

main{
    margin-top: 5rem;
}

.section{
    margin-bottom: 3rem;
}

.section-title{
    text-align: center;
}

/* 
    Se crea un grid con 6 columnas por fila, cada columna contiene un card, un card contiene una imagen del producto
    y el nombre
*/
.menu-grid{
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    padding: 0 2rem;
}

/*
    Alineamos el contenido de la card al centro, cambiamos el fondo de cada card y redondeamos sus esquinas
*/
.menu-card{
    text-align: center;
    background-color: var(--auxiliar);
    border-radius: var(--border-radious);
}

.img-card{
    width: 100%;
    height: 100px;
}
